nav {
  background-color: #b1b1b1;
  height: 80px;
  border: 2px solid tomato;
}

.navigaton a {
  /* display: flex; */
  text-decoration: none;
  line-height:80px ;
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
}

.navigaton .active{

    color: blue;

} 


